{% extends "dashboard.html" %}
{% load static %}

{% block custom_css %}

{% endblock custom_css %}

{% block container %}
<!-- ============================================================== -->
<!-- RECENT SALES -->
<!-- ============================================================== -->
<div class="row" ng-controller="OrderController as vm">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="white-box">
            <div class="d-md-flex mb-3">
                <h3 class="box-title mb-0">Lista de ordenes</h3>
                <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                    <select class="form-select shadow-none row border-top">
                        <option>March 2022</option>
                        <option>April 2022</option>
                        <option>May 2022</option>
                        <option>June 2022</option>
                        <option>July 2022</option>
                    </select>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table no-wrap">
                    <thead>
                        <tr>
                            <th class="border-top-0">No. Orden</th>
                            <th class="border-top-0">Nombre</th>
                            <th class="border-top-0">Urgente</th>
                            <th class="border-top-0">Fecha Surtido</th>
                            <th class="border-top-0">Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.data">
                            <td>{[item.order.order_number]}</td>
                            <td class="txt-oflo">{[item.article.title]}</td>
                            <td class="txt-oflo">
                                <span class="text-success" ng-if="item.order.is_urgent == false">No</span>
                                <span class="text-danger" ng-if="item.order.is_urgent == true">Sí</span>
                            </td>
                            <td>{[item.assortment_date]}</td>
                            <td><span class="text-success">{[item.order.amount]}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jsdependence %}
<script src="{% static 'js/angularjs/ng/angular.min.js' %}"></script>
<script src="{% static 'js/angularjs/ng/angular-cookies.min.js' %}"></script>
<script src="{% static 'js/angularjs/main.angular.js' %}"></script>

<script src="{% static 'js/angularjs/order/services/it-order-data.js' %}"></script>
<script src="{% static 'js/angularjs/order/controllers/it-order.js' %}"></script> 
{% endblock %}